<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='../public/stylesheets/reset.css' />
  <link rel='stylesheet' href='../public/stylesheets/global.css' />
  <link rel='stylesheet' href='../public/stylesheets/style.css' />
  <link rel='stylesheet' href='../public/stylesheets/board.css' />
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>

<body>
  <header>
    <div class="logo">hw-jk</div>
    <div class="welcome">jk 님 안녕하세요</div>
  </header>
  <div class="nav-bar">
    <div class="btn-wrap">
      <button class="calendar" onclick="movePage('/')">Calendar</button>
    </div>
    <div class="btn-wrap">
      <button class="board enable" onclick="movePage('/board')">Board</button>
    </div>
  </div>
  <div class="container-wrap">
    <div class="container">
    </div>
  </div>

  <script src="../public/javascripts/util.js"></script>
  <script src="../public/javascripts/user.js"></script>
  <script src="../public/javascripts/todo.js"></script>
  <script src="../public/javascripts/router.js"></script>
  <script src="../public/javascripts/board.js"></script>
</body>

</html>