<!DOCTYPE html>
<html>

<head>
  <title>board</title>
  <link rel='stylesheet' href='../public/stylesheets/reset.css' />
  <link rel='stylesheet' href='../public/stylesheets/global.css' />
  <link rel='stylesheet' href='../public/stylesheets/style.css' />
  <link rel='stylesheet' href='../public/stylesheets/board.css' />

  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>

<body>
  <header>
    <div>
      <div class="logo">
        <a href="../login">
          <img src='../public/images/logo.png' />
        </a>
      </div>
      <div class="nav-bar">
        <div class="btn-wrap">
          <button class="calendar-btn" onclick="movePage('/calendar')">Calendar</button>
        </div>
        <h1 style="color:#777777; font-weight: bold;">|</h1>
        <div class="btn-wrap">
          <button class="board-btn enable" onclick="movePage('/board')">Board</button>
        </div>
      </div>
    </div>
    <div class="welcome">
      <p id="user_id" style="font-weight: bold;"><%=user_id%> </p> 님, 환영합니다!

    </div>

  </header>
  <hr class="line">

  <div class="container-wrap">
    <div class="container">
    </div>
  </div>

  <script src="../public/javascripts/util.js"></script>
  <script src="../public/javascripts/user.js"></script>
  <script src="../public/javascripts/todo.js"></script>
  <script src="../public/javascripts/router.js"></script>
  <script src="../public/javascripts/board.js"></script>
</body>

</html>