<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chatting Room</title>
    <center>
    <h3 style="background-color:aliceblue;">000교수님 채팅방</h3>
    </center>

    <link rel="stylesheet" href="../public/stylesheets/chat_index.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="../public/javascripts/chat_index.js"></script>
  </head>
  <body>
    <div id="main">
      <div id="chat">
        <!-- 채팅 메시지 영역 -->
      </div>

      <div id="textbox">
        <input type="text" id="test" placeholder="메시지를 입력해주세요.." style="width:900px; height:30px;">
        <button onclick="send()" style="width:30px; height:30px">↑</button>
      </div>
    </div>
  </body>
</html>
