<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chatting Room</title>
   
    <center>
      <h2 style="border-bottom: 3px solid #dedede; padding-top: 20px; padding-bottom: 20px;">
        <div id="chatname">
        <%= posts.name %> 채팅방</h2>
        </div>
    </center>

    <link rel="stylesheet" href="../public/stylesheets/chat_index.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="../public/javascripts/chat_index.js"></script>
  </head>
  <body>
    <p style="display: none;" id="user_id"><%=user_id%></p>
      <div id="main">
      <div id="chat">
        <!-- 채팅 메시지 영역 -->
      </div>
    </div>
      <center>
        <input type="text" id="text_send" placeholder="메시지를 입력해주세요.." >
        <button id="btn_send" onclick="send()" >↑</button>
    </center>
   

  </body>
</html>
