<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel='stylesheet' href='../public/stylesheets/login.css' />
</head>

<body>

    <% if(session.user_id){ %>
    <h3>로그인에 성공하셨습니다 ~</h3>
    <form action="/logout" method="get">
        <input type="submit" value="로그아웃">
    </form>
    <a href="/chat">chat</a>

    <% } else{ %>
    <div class="banner">
        <img src="../public/images/DONGGUK_UNIVERSITY_at_night_UI.jpg" />
    </div>
    <div class="content">
        <!-- <div class="logo">
            <img src="../public/images/logo.png">
        </div> -->
        <div class="homepage">
            <h3>동국대학교 홈페이지</h3>
            <a href="http://www.dongguk.edu/mbs/kr/index.jsp">
                <img src="../public/images/home-outline.svg" />
            </a>
        </div>
        <div class="calendar">
            <h3>캘린더/보드</h3>
            <a href="/calendar">
                <img src="../public/images/calendar-outline.svg" />
            </a>
        </div>
        <div class="login">
            <form action="/login" method="post">
                <table>
                    <tr>
                        <td>ID </td>
                        <td><input type="text" name="id"></td>
                    </tr>
                    <tr>
                        <td>Password </td>
                        <td><input type="password" name="password"></td>
                    </tr>

                </table>
                <div class="btn-wrap">
                    <button id="btn" value="Sign Up" href="/signup"> |
                    <input id="btn" type="submit" value="Login">
                </div>
            </form>
        </div>
    </div>
    <!-- <div class="welcome">
        Welcome to HAP, dongguk's practice management system
    </div> -->
    <div class="bottom">
        Copyright ⓒ 2020. HAP All Rights Reserved.<br>
        made by KangSeongHee KimJunKyung KimJiHoon ChaSeungHoon

    </div>



    <% } %>

</body>

</html>