<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>material</title>
    <link rel='stylesheet' href="../public/stylesheets/material.css"/>
</head>
<body bgcolor="E2F1F4">
    <div class = stack id="modal">
        <div class = modal_content>
            <button id = close>X</button>
            <div class = "modal_component block" id = img>

            </div>
            
            <div class = modal_component id = name>  

            </div>

            <div class = modal_component id="num">  

            </div>

            <button class = modal_component id = submit>submit</button>
        </div>
    </div>

    <div class="stack" id = mainPage>
        <div id = "header">
            <div class = "headerComponent" id = "logo">
                <img src='../public/images/logo.png'/>
            </div>
            
            <div class = "headerComponent" id = "pageTitle">
                <div id = subjectColor></div>
                <div id = subjectName>page name</div>
            </div>
        
        </div>
    
        <div id = "content">
                <div class="box" id = add>
                    <button class= block style = "font-size:500%">&#x2795;</button>
                <!--    <div class = name>name</div> -->
                </div> 
            
        </div>
    </div>

    <script src="../public/javascripts/material.js"></script>
</body>
</html>
