<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='../public/stylesheets/questionBoard.css' />
  </head>
  <body bgcolor="E2F1F4">  
    <div id = "header">
      <div class = "headerComponent" id = "logo">
          <img src='../public/images/logo.png'/>
      </div>
      
      <div class = "headerComponent" id = "pageTitle">
          <div id = circle></div>
          <div id = pageName>page name</div>
      </div>
    </div>
      <div id ="content" ><center>
        <div id ="table_chat">
          <p><br><br></p>
          <h3 >실시간 질문방</h3>
        <table width = 850>
          <tr><!-- 첫번째 줄 시작 -->
              <td width="400">채팅방</td>
              <td width="120">   <a href="ㅁㅁㅁ">채팅방 입장</a><br/></td>
          </tr><!-- 첫번째 줄 끝 -->
            </table></div>
    
        <p><br><br></p>
        <h3>질문 게시판</h3>
        <div class="row">
        <table width="850" class="table table-condensed">
          <tr>
                <!-- 번호, 제목, 작성자, 날짜-->
            <th width="40">번호</th>
            <th width="260">제목</th>
            <th width="100">작성자</th>
            <th width="160">날짜</th>
          </tr>
         <!-- 디비 만큼 생성-->
          <tr>
            <td>1</td>
            <td><a href="../views/questionBoard/read.html">안녕하슈</a></td>
           
            <td>2018111111</td>
            <td>2018.11.20</td>
          </tr>
          <tr>
            <td>2</td>
            <td><a href="/read.html">1번 질문이요</a></td>
            <td>2018110911</td>
            <td>2018.11.15</td>
          </tr>

        </table>

        <!--글작성 모달창-->
              <div class="modal">
                <div class="modal_content">
                  <div class="ui_container">
                    <div class="ui_border" >
                      <br><br><br><br>
                      
                      <center>
                        <h3>>>질문게시판 글 작성</h3>
                      <div class="border_cont">
                        
                        <input type="text" value="제목 | " class="inq_field" />
                        <textarea name="" id="" cols="5" rows="7" placeholder="내용을 입력해주세요."></textarea>
                      </div>
                    </center>
                      <center>
                      <div class="btn_area">
                        <input type="button" id="close_button" value="취소" >
                        <input type="button" id="btn_submit" value="등록">
                      </div>
                      </center>
                    </div>
                  </div>
                </div>
            </div>
        
            <div class="main">
              <br><br>
                <button id= "modal_button">글 작성</button>
            </div>
            <script src="../public/javascripts/modal.js"></script>
            

  </body>
</html>
