/* 메인 */
#main {
  margin: auto;
  border-color:black;
  background-color: white;
  text-align: center;
  width: 1000px;
  height: 800px;
}

/* 채팅 영역 */
#chat {
  height: 90%;
  width: 1000px;
  overflow-y: auto;
}



/* 접속 알림 */
.connect {
  width: 90%;
  margin: auto;
  background-color: white;
  text-align: center;
  margin-top: 10px;
}

/* 접속 종료 알림 */
.disconnect {
  width: 90%;
  margin: auto;
  color: indianred;
  text-align: center;
  margin-top: 10px;
}

/* 내가 보낸 메시지 */
.me {
  width: 90%;
  margin: auto;
  text-align: right;
  
  background-color: white;
 /* margin-top: 10px;*/
}
.me:after{
  content: "  :  나";
}

/* 상대방이 보낸 메시지 */
.other {
  width: 90%;
  margin: auto;
  text-align: left;
  background-color: white;
 /* margin-top: 10px;*/
}

