.banner img{
    width: 100%;
    height: auto;
    background: #000;
    position: relative;
    margin: 0 0 100px 0;
}

.content{
    opacity: 0.9999;
    left: 15%;
    top: 540px;
    display: flex;
    justify-content: center;
    position: absolute;
}

.homepage{
    position: relative;
    display: flex;
    width: 340px;
    height: 180px;
    background: #2072BD;
    color:white;
    padding : 30px 0 0 60px ;
    font-size: larger;
}

.homepage img{

    position: absolute;
    justify-content: flex-end;
    width: 50px;
    height: auto;
    bottom: 40px;
    right: 60px;
}

.calendar{
    position: relative;
    display: flex;
    width: 340px;
    height: 180px;
    background: #1E376F;
    color:white;
    padding : 30px 0 0 60px ;
    font-size: larger;
}

.calendar img{
    position: absolute;
    justify-content: flex-end;
    width: 50px;
    height: auto;
    bottom: 40px;
    right: 60px;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 210px;
    width: 400px;
    background: #AE8B65;
    color:white;
    font-weight: bold;

}
.login input{
    border:none;
    border-radius: 5px;
}

.login td{
    margin: 5px;
    padding: 5px;
}
.btn-wrap{
    display: flex;
    justify-content: flex-end;
    color: rgb(49, 40, 21);
    padding: 8px 10px 0 0;
}

#btn {
    justify-content: flex-end;
    background: #AE8B65;
    color: rgb(49, 40, 21);
}

.bottom{
    bottom:5px;
    background:#deebf7;
    text-align:center;
    margin: 70px 0 0 0 ;
    padding: 35px;
    color:#707070;
    font-size:small;
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1200px;
    max-height: 750px;
    position: relative;
    margin: auto;
  }
  .slideshow-container .mySlides img {
    height: 750px;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }