a {
  text-decoration: none;
}
body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  font-family: "Nanum Gothic", "나눔고딕", "돋움", Dotum, "돋움체", DotumChe,
    sans-serif;
}

#sidebar {
  z-index: 2;
}

.sidebar_button {
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  font-size: 300%;
  right: 0px;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  width: 75px;
  height: 150px;
}

.sidebar_page {
  overflow-y: auto;
  position: fixed;
  width: 200px;
  height: 100%;
  top: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  flex-direction: column;
}

.sidebar_subject {
  all: unset;
  width: 100%;
  height: 100px;
  color: white;
  opacity: 90%;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

#header {
  display: flex;
  width: 85%;
  height: 10%;
}

#logo img {
  width: 190px;
  height: 100%;
}

#pageTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 80%;
  height: 100px;
}

#circle {
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
}

#pageName {
  font-size: 350%;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
  background-color: #fff;
  position: relative;
  margin-top: 15px;
  width: 85%;
  height: 90vh;
}

#table {
  display: flex;
  justify-content: center;
  /* margin: auto; */
  width: 100%;
  height: 100px;
}
/* 
#qb_text {
  margin-left: 20%;
} */

#table_chat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

td {
  border-top: 0px solid #e2f1f4;
  border-bottom: 1px solid #dedede;
}

#t1 {
  /*questionBoard main page table id, read page table content*/
  font-family: "Nanum Gothic", "나눔고딕", "돋움", Dotum, "돋움체", DotumChe,
    sans-serif;
  padding: 10px;
  border-top: 0px solid #e2f1f4;
  border-bottom: 1px solid #dedede;
}
#t1_head {
  font-family: "Nanum Gothic", "나눔고딕", "돋움", Dotum, "돋움체", DotumChe,
    sans-serif;
  padding: 15px;
  border: 1px solid #f5f5f5;
  background-color: #f5f5f5;
  border-collapse: collapse;
  font-weight: 550;
}
#t1_1 {
  font-family: "Nanum Gothic", "나눔고딕", "돋움", Dotum, "돋움체", DotumChe,
    sans-serif;
  padding: 5px;
  border-top: 0px solid #e2f1f4;
  border-bottom: 1px solid #dedede;
  font-size: 13px;
}
#t2 {
  /*reply info*/
  border-top: 0px solid #e2f1f4;
  border-bottom: 1px solid #dedede;
  font-weight: 450;
}
#t3 {
  /*reply content*/
  font-family: "Nanum Gothic", "나눔고딕", "돋움", Dotum, "돋움체", DotumChe,
    sans-serif;
  font-size: 13px;
  background-color: #f5f5f5;
  padding-top: 0px;
  padding-left: 20px;
  border: 1px solid #faf9f9;
  border-collapse: collapse;
}
h2 {
  position: relative;
  left: 100px;
}

.a_field {
  font-family: "Nanum Gothic", "나눔고딕", "돋움", Dotum, "돋움체", DotumChe,
    sans-serif;
  width: 720px;
  height: 270px;
  resize: none;
  text-align: top;
  vertical-align: top;
}

.inq_1_field {
  font-size: 2.5ch;
  line-height: 57px;
  border-bottom: 3px solid #dedede !important;
}

.border_cont {
  width: 800px;
  border-top: 0px solid #e2f1f4;
  border-bottom: 3px solid #dedede;
}
.border_cont input[type="text"],
textarea {
  padding: 0 30px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  width: 100%;
  border: 0;
  text-align: left;
}
.border_cont textarea {
  padding: 38px 20px;
  font-size: 14px;
  line-height: 36px;
  color: black;
}
.border_cont {
  line-height: 57px;
  border-bottom: 3px solid #dedede !important;
}
.btn_area {
  margin-top: 30px;
  text-align: center;
  background-color: E2F1F4;
}

/* 버튼 공통 */
button,
input {
  margin: 0;
  padding: 0;
  border: 0;
}
textarea {
  resize: none;
}

#close_button {
  border: 1px solid #dedede;
  background-color: rgba(0, 0, 0, 0);
  padding: 5px;
  width: 7%;
  height: 30px;
}
#btn_submit {
  border: 1px solid #dedede;
  background-color: rgba(0, 0, 0, 0);
  padding: 5px;
  width: 7%;
  height: 30px;
}

#btn_del {
  position: relative;
  left: 1000px;
  float: left;
  border: 1px solid #dedede;
  background-color: rgba(0, 0, 0, 0);
  padding: 5px;
  width: 7%;
  height: 30px;
}

#btn_reply {
  position: relative;
  left: 390px;
  float: left;
  border: 1px solid #dedede;
  background-color: rgba(0, 0, 0, 0);
  padding: 5px;
  width: 70px;
  height: 70px;
}
#btn_backtolist {
  position: relative;
  left: 1100px;
  float: left;
  border: 1px solid #dedede;
  background-color: rgba(0, 0, 0, 0);
  padding: 5px;
  width: 7%;
  height: 30px;
}

#reply_content {
  position: relative;
  left: 370px;
  float: left;
  border: 1px solid #dedede;
  width: 760px;
  height: 70px;
  resize: none;
}

/*모달창*/
.modal {
  z-index: 3;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal2 {
  z-index: 3;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal_content {
  background-color: white;
  width: 60%;
  height: 80%;
}

.main {
  margin-top: 1%;
  z-index: -1;
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  width: 100%;
}

#modal_button {
  /* position: relative;
  float: left; */
  border: 1px solid #dedede;
  background-color: rgba(0, 0, 0, 0);
  padding: 5px;
  width: 7%;
  height: 30px;
}

#modal_button2 {
  /*modify*/
  position: relative;
  left: 990px;
  float: left;
  border: 1px solid #dedede;
  background-color: rgba(0, 0, 0, 0);
  padding: 5px;
  width: 7%;
  height: 30px;
}
