*{
  font-family:"Nanum Gothic","나눔고딕","돋움", Dotum, "돋움체", DotumChe, sans-serif;
}
/* body */

body{
  margin: auto;
  width: 70%;
  background-color: white;
}

/* header */

header{
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;

  
}

header img{
  width: 190px;
  height: auto;
  position: relative;
  float: left;
}
header .welcome{
  font-size: small;
  padding: 20px;
}


hr{
  border: 1px solid #dedede;

}

/* navigator */

.nav-bar{
  display: flex;
  align-items: center;
  padding: 38px 0 0 0 ;
}

.nav-bar > .btn-wrap {
  /* width: 200px;
  position: relative;
  margin-right: 10px;
  padding : 5px 5px 0 5px;
  top: 5px;
  left: 60px;
  background: white;
  border-radius: 10px 10px  0 0; */
}

.nav-bar > .btn-wrap > button {
  /* width: 100%; */
  /* padding : 10px 45px; */
  font-size: 15px;
  font-weight: bold;
}

.nav-bar > .btn-wrap > button.enable{
  background: #ffffff;
  
}

.board{
  padding: 20px;
}
/* container */

.container-wrap{
  padding : 5px;
  background: white;
  border-radius: 10px;
}

.container {
  padding : 10px ;
  background :#ffffff;
  border-radius: 10px;
}