a {
  text-decoration: none;
}

body {
  margin: auto;
}

input::placeholder {
  text-align: center;
}

.stack {
  position: fixed;
  height: 100%;
  width: 100%;
}

#sidebar {
  z-index: 2;
}

.sidebar_button {
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  font-size: 300%;
  right: 0px;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  width: 75px;
  height: 150px;
}

.sidebar_page {
  overflow-y: auto;
  position: fixed;
  width: 200px;
  height: 100%;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  flex-direction: column;
}

.sidebar_subject {
  all: unset;
  width: 100%;
  height: 100px;
  color: white;
  opacity: 90%;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

#modal {
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 3;
  background: rgba(0, 0, 0, 0.5);
}

.modal_homework {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 45%;
  width: 45%;
  border-radius: 5px;
  background: white;
}

#modal_homework_header {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  border-radius: 5px 5px 0px 0px;
  background: skyblue;
}

#homework_close {
  all: unset;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
}

#modal_homework_content {
  display: flex;
  height: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.modal_attend {
  display: flex;
  flex-direction: column;
  height: 75%;
  width: 75%;
  border-radius: 5px;
  background: white;
}

#modal_attend_header {
  height: 15%;
  display: flex;
  flex-direction: row-reverse;
  border-radius: 5px 5px 0px 0px;
  background: skyblue;
}

#modal_attend_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

#attendance_status {
  padding-left: 5%;
  padding-top: 10px;
  width: 95%;
  font-size: 200%;
}

.modal_register {
  display: none;
  flex-direction: column;
  position: fixed;
  height: 45%;
  width: 45%;
  border-radius: 5px;
  background: white;
}

#modal_register_header {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  border-radius: 5px 5px 0px 0px;
  background: skyblue;
}

#modal_register_content {
  display: flex;
  height: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.attendance_frame {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 150px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.img_box {
  height: 80%;
  width: 13%;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.info_box {
  height: 95%;
  width: 80%;
}

.id_box {
  align-items: center;
  height: 25%;
}

.status_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;
  width: 100%;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80%;
  width: 100%;
  align-items: center;
}

.bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 20%;
  width: 100%;
}

.sBox {
  width: 30%;
}

.status_element {
  /* all: unset;*/
  height: 50%;
  width: 30%;
  margin: 0;
}

#attend_close {
  all: unset;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
}

.save {
  all: unset;
  border-radius: 20px;
  margin-bottom: 20px;
  color: whitesmoke;
  background-color: skyblue;
  text-align: center;
  padding: 5px;
  font-size: 300%;
  box-shadow: 5px 5px 5px gray;
}

.submit {
  all: unset;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px gray;
  background-color: floralwhite;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

#mainPage {
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  min-height: 15vh;
}

#logo {
  left: 0;
  width: 15%;
  margin-left: 30px;
  margin-top: 30px;
  width: 188px;
  height: 96px;
  /* border: 1px solid black; */
}

#pageTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #fff;
  right: 0;
  width: 80%;
  margin: 0px;
  height: 100px;
  text-align: center;
  border-style: solid;
  border-width: 5px;
  border-color: skyblue;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.circle {
  border-radius: 50%;
}

#studentAttendance {
  width: 60px;
  height: 60px;
  background: red;
}

#professorAttendance {
  width: 35px;
  height: 35px;
  background: red;
}

#subjectColor {
  width: 20px;
  height: 20px;
  background: red;
}

#subjectName {
  font-size: 350%;
  display: inline-block;
}

#content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  border-style: solid;
  border-width: 4px;
  border-color: skyblue;
  margin-top: 15px;
  margin-bottom: 30px;
  width: 90%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
}

.btn {
  all: unset;
  width: 225px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  background-color: #a4d0d9;
  color: black;
  font-size: 150%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#attendanceToggle {
  margin-left: 100px;
  flex-direction: row;
  width: 600px;
  height: 200px;
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attendanceButton {
  all: unset;
  font-size: 300%;
  color: gray;
  opacity: 50%;
}

.week {
  background-color: skyblue;
  border-radius: 35px 35px 0px 0px;
  height: 15%;
  width: 90%;
  text-align: center;
}

.box {
  all: unset;
  width: 90%;
  height: 70%;
  border-radius: 0px 0px 35px 35px;
  box-shadow: 5px 5px 5px gray;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 150%;
}

.status {
  border-radius: 0px 0px 35px 35px;
  width: 90%;
  text-align: center;
  font-size: 110%;
}

.date {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#prev {
  width: 150px;
  height: 150px;
}

#now {
  width: 200px;
  height: 200px;
}

#next {
  width: 150px;
  height: 150px;
}

#botHeader {
  height: 130px;
  width: 100%;
  display: flex;
  align-items: center;
}

#homework {
  margin-left: 30 px;
}

#botContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  border-radius: 35px;
  border-style: solid;
  border-width: 5px;
  border-color: skyblue;
}

#noHw {
  font-size: 300%;
  color: gray;
  opacity: 50%;
  padding-top: 25vh;
  height: 40vh;
}

.hwList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 5px 5px 3px gray;
  border-radius: 25px;
  border-style: solid;
  border-width: 0.5px;
  border-color: gray;
  width: 80%;
  height: 200px;
}

.top {
  display: flex;
  align-items: center;
  height: 20%;
  width: 90%;
}

.mid {
  display: flex;
  align-items: center;
  height: 20%;
  width: 90%;
}

.bot {
  display: flex;
  /*align-items: center;*/
  height: 50%;
  width: 90%;
  border-style: solid;
  border-width: 0.5px;
  border-color: gray;
}

#form_student {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#submit_detail {
  height: 50%;
  width: 50%;
}

#form_prof {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.top_prof {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.mid_prof {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bot_prof {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
}
