
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='../../public/stylesheets/questionBoard.css'/>
</head>
<body bgcolor ="E2F1F4">
  <div id = "header">
    <div class = "headerComponent" id = "logo">
        <img src="../../public/images/logo.png">
    </div>
    
    <div class = "headerComponent" id = "pageTitle">
        <div id = circle></div>
        <div id = pageName>page name</div>
    </div>
  </div>

  <div id="content">
  <p><br><br></p>
  <button id= "btn_backtolist" href='/questionBoard.html'>목록보기</button>
  
  <br>
  <br>
<center>
    <table width="850" >
      <tr>
        <td colspan="6" width="800"> 제목 | 안녕하슈</td>
      </tr>
      <tr>
        <td width="100" >작성자</td> <!--텍스트 내용 오른쪽 정렬-->
        <td colspan="2" width="200">201811111111</td>
        <td width="100">날짜</td> <!--텍스트 내용 오른쪽 정렬-->
        <td colspan="2" width="200">2020.12.13</td>
      </tr>
      <tr>
        <td colspan="6" width="800" height="5">내용</td> <!--폭 줄이기-->
      </tr>
      <tr>
        <td colspan="6" width="800" height="200">  <pre>
          내용 값 :
          pre 태그는 내용 그대로를 보여준다. ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
          줄바꿈했음
        </pre>
        </td> <!--왼쪽 위 정렬 해야함-->
      </tr>

    </table>
  
  <br>
   
         <!--이거는 작성자=로그인한 사람일 때만 출력 (자신이 작성한 글 수정, 삭제 기능) -->


         <div class="modal2">
          <div class="modal_content">
            <div class="ui_container">
              <div class="ui_border" >
                <br><br><br><br>
                
                <center>
                  <h3>>>질문 수정</h3>
                <div class="border_cont">
                  
                  <input type="text" value="제목 | " class="inq_field" />
                  <textarea name="" id="" cols="5" rows="10" placeholder="내용을 입력해주세요."></textarea>
                </div>
              </center>
                <center>
                <div class="btn_area">
                  
                  <input type="button" id="close_button" value="취소"  >
                  <input type="button" id="btn_submit" value="등록">
                </div>
                </center>
              </div>
            </div>
          </div>
      </div>
  
      <div class="main">
          <button id= "modal_button2">수정</button>
      </div>
      <script src="../../public/javascripts/modal2.js"></script>


      <input type="button" value="삭제" id="btn_del" /><!--여기에 디비 처리 삭제-->


    <br><br><br><br><br>
    <textarea id="reply_content" placeholder="답글을 입력해주세요."></textarea>
    <input type="button" value="답변달기" id="btn_reply" />

  </center>
  </div>
</body>
</html>
