<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
 
    <link rel='stylesheet' href='../../public/stylesheets/questionBoard.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </head>
  <body bgcolor="E2F1F4">
  <div class="container">
    <div class="row">
    <a href="/questionBoard">돌아가기</a><br/>

    <form action="/questionBoard/update" method="post" class="form-inline">
      <!--title, content-->
      <table width="400" class="table table-condensed">
        <tr>
          <th>제목</th>
          <td>
            <input type="hidden" name="num" value="<%=data.num%>"/><!--여기에 디비 값-->
            <input type="hidden" name="page" value="<%=page%>"/><!--여기에 디비 값-->
            <input type="text" name="title" size="30" maxlength="50" value="<%=data.title%>"/><!--여기에 디비 값-->
          </td>
        </tr>
        <tr>
          <th>내용</th>
          <td><textarea name="content" cols="30" rows="10"><%=data.content%></textarea></td><!--여기에 디비 값-->
        </tr>
        <tr>
          <td colspan="2">
            <input type="submit" value="수정" class="btn btn-primary"/> <!--여기에 디비 처리 수정 처리-->
            <input type="reset" value="취소" class="btn btn-default" />

          </td>
        </tr>
      </table>
    </form>
      </div>
    </div>
  </body>
</html>
