<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Document</title>
        </head>

        <body>
            <form action="/upload/create" method="post" enctype="multipart/form-data">
                <input type="file" name="imgFile">
                <img src = "../../public/images/logo.png" onclick = "func1(e){alert("done");}">
            </form>
        </body>
        
        <script>
            func1(){
                alert("done");
            }
        </script>
    </html>